<div class="header">
  <label for="queens"> Number of queens on the table:</label>
  <input type="number" [(ngModel)]="queens" id="queens">
  <label for="delay"> Delay (milliseconds): </label>
  <input type="number" [(ngModel)]="delay" id="delay">
</div>

<br>
<button (click)="this.backtrackingIterative()">Backtracking iterative</button>
<br>
<br>
<button (click)="this.backtrackingRecursive()">Backtracking recursive</button>

<div class="table">
  <div
    *ngFor="let x of counter(this.queens); let row = index"
    class="row">
    <span
      *ngFor="let x of counter(this.queens); let column = index"
      [class]="getQueenCssClass(row, column)">
      <img
        *ngIf="shouldShowQueen(row, column)"
        src="assets/quuen.svg.webp">
    </span>
  </div>
</div>
