.table {
  margin: 10rem;
}

.row {
  display: flex;
}

.column {
  width: 55px;
  height: 55px;
  text-align: center;

  &--odd {
    background-color: #FFCE9D;
  }

  &--even {
    background-color: #D18B46;
  }
}
