.header {
  display: grid;
  grid-template-columns: max-content 50px;
}

.table {
  margin-top: 2rem;
  margin-left: 2rem;
}

.row {
  display: flex;
}

.column {
  min-width: 55px;
  min-height: 55px;
  text-align: center;
  box-sizing: border-box;

  &--odd {
    background-color: #FFCE9D;
  }

  &--even {
    background-color: #D18B46;
  }

  &--conflicting {
    border: red 2px solid;
  }

  &--solution {
    border: green 2px solid;
  }
}
