.table {
  margin-top: 2rem;
  margin-left: 2rem;
}

.row {
  display: flex;
}

.column {
  min-width: 55px;
  min-height: 55px;
  text-align: center;

  &--odd {
    background-color: #FFCE9D;
  }

  &--even {
    background-color: #D18B46;
  }
}
